main{
    width: 80%;
    margin-left: 10%;
}

main h1{
    text-align: center;
    color: darkred;
    font-family: monospace;
    font-size: 5vw;
    text-shadow: 3px 3px 3px black;
}

main .i1 img{
    float: left;
    width: 40%;
    margin-left: 5%;
    position: relative;
}

main .i2 img{
    float: right;
    width: 40%;
    margin-right: 5%;
    position: relative;
}

main .t1{
    display: none;
}

main .t2{
    height: 30px;
}

.wrap-news{
    width: 100%;
}
.wrap-news h2{
    font-family: monospace;
    font-size: 6vw;
    text-transform: uppercase;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 14px;
}
.wrap-news h3{
    font-family: monospace;
    font-size: 5vw;
    background-color: #0000002a;
    color: #f74848be;
    text-align: center;
    padding: 16px 14px;
    border-bottom: 0.3em solid rgba(201, 184, 184, 0.26);
    margin-bottom: 20px;
}
.wrap-news h4{
    font-family: monospace;
    font-size: 3vw;
    color: darkgray;
    text-align: center;
    padding: 16px 14px;
}
.news{
    width: 90%;
    margin-left: 5vw;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.164);
}
.news figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.news figure figcaption{
    font-family: monospace;
    padding: 16px 14px;
    font-size: 1.8vw;
    text-indent: 50px;
    letter-spacing: 1px;
    color: darkgray;
    text-align: justify;
}
@media(max-width: 812px){
    .news{margin: 0; width: 100%;margin-bottom: 20px;}
    .news figure figcaption{font-size: 3.3vw;}
    .wrap-news h2{font-size: 10vw;}
    .wrap-news h3{font-size: 7vw;}
    .wrap-news h4{font-size: 5vw;}
}
table {
    font-family: monospace;
    padding: 16px 14px;
    font-size: 1.8vw;
    margin-top: 7vh;
    color: darkgray;
    border-collapse: collapse;
    width: 100%;
}
caption{font-family: monospace; letter-spacing: 1px;}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #000;
}

.pag{text-align: center;margin: 5%;}
.pag a{
    font-family: monospace;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 12px 12px;
    color: #f2f2f2;
    text-transform: uppercase;
    background-color: rgb(199, 13, 13);
    border-radius: 5px;
    text-align: center;
}
.pag a:hover{
    transition: 0.5s;
    background-color: darkred;
}

@media(max-width: 812px){
    table{
        font-size: 3.3vw;
    }
    .pag{
        margin: 10%
    }
    main{
        width: 100%;
        margin-left: 0%;
    }
    main h1{
        font-size: 7vw;
    }
    main .i1 img, main .i2 img{
        float: none;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    main .t1{
        display: block;
    }
}