main{
    width: 80%;
    margin-left: 10%;
}

.barra{
    width: 100%;
    height: 30px;
    background-color: rgba(38, 38, 38, 0.8);
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

main h1{
    text-align: center;
    color: darkred;
    font-family: monospace;
    font-size: 5vw;
    text-shadow: 3px 3px 3px black;
}

main h2{
    text-align: center;
    color: darkgray;
    font-family: monospace;
    font-size: 4vw;
    text-shadow: 3px 3px 3px black;
}

main img{
    float: left;
    width: 50%;
    border-right: 20px solid transparent;
}

main p{
    color: white;
    font-size: 2vw;
}

.page{text-align: center;margin: 10%;}
.page a{
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    padding: 16px 14px;
    color: #f2f2f2;
    text-transform: uppercase;
    background-color: rgb(199, 13, 13);
    border-radius: 5px;
    text-align: center;
}
.page a:hover{
    transition: 0.5s;
    background-color: darkred;
}

@media only screen and (max-width: 812px){
    main{
        width: 100%;
        margin-left: 0%;
    }

    main h1{
        font-size: 8vw;
    }

    main h2{
        font-size: 6vw;
    }

    main p{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 414px){
    main p{
        font-size: 4vw;
    }
}