main{
    width: 80%;
    margin-left: 10%;
}

main h1{
    text-align: center;
    color: darkgray;
    font-family: monospace;
    font-size: 5vw;
    text-shadow: 3px 3px 3px black;
}

main img{
    float: left;
    width: 50%;
    border-right: 20px solid transparent;
    border-bottom: 5px solid transparent;
}

main p{
    color: white;
    font-size: 2vw;
}

@media only screen and (max-width: 812px){
    main{
        width: 100%;
        margin-left: 0%;
    }

    main h1{
        font-size: 8vw;
    }

    main p{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 414px){
    main p{
        font-size: 4vw;
    }
}