main{
    max-width: 80%;
    margin-left: 10%;
}

h1{
    text-align: center;
    color: darkred;
    font-family: monospace;
    font-size: 4.2vw;
    text-shadow: 3px 3px 3px black;
}

.barra{
    width: 100%;
    height: 30px;
    background-color: rgba(38, 38, 38, 0.8);
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.t1{
    float: left;
}

.t2{
    float: right;
}

table{
    width: 50%;
}

table th{
    width: 25%;
    transition: 1s;
}

table th:hover{
    width: 70%;
    transition: 1s;
}

table img{
    width: 100%;
    transition: 1s;
}

table p{
    color: darkgray;
    font-size: 1.4vw;
}

.botao{
    margin-top: 4%;
    width: 12%;
}

.t3{
    width: 100%;
    padding-top: 5%;
}

.t4{
    margin-top: -4px;
}

@media only screen and (max-width: 812px){
    main{
        max-width: 100%;
        margin-left: 0%;
    }

    main h1{
        width: 100%;
    }

    .t1{
        float: none;
        width: 100%;
    }
    
    .t2{
        float: none;
        width: 100%;
    }

    .t3{
        padding-top: 8%;
    }

    .t4{
        padding-top: 8%;
        width: 100%;
    }

    table p{
        font-size: 3.5vw;
    }

    .botao{
        width: 17%;
    }
}

@media only screen and (max-width: 414px){
    .botao{
        width: 22%;
    }
}